body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    padding-top: 94px; 
    gap: 30px; 
}

.qr-container {
    position: relative;
    width: 250px;
    height: 250px;
}

/* カメラ（仮） */
.qr-box {
    width: 100%;
    height: 100%;
    background-color: #d9d9d9;
}

/* 角パーツの共通設定 */
.corner {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 8px solid #000;
}

/* 角の配置 */
.top-left {
    top: -10px;
    left: -10px;
    border-right: none;
    border-bottom: none;
}

.top-right {
    top: -10px;
    right: -10px;
    border-left: none;
    border-bottom: none;
}

.bottom-left {
    bottom: -10px;
    left: -10px;
    border-right: none;
    border-top: none;
}

.bottom-right {
    bottom: -10px;
    right: -10px;
    border-left: none;
    border-top: none;
}

/* QRコードボタン */
.qr-button {
    background-color: #FFD374;
    border: none;
    border-radius: 25px;
    padding: 10px 60px;
    font-size: 2rem;
    font-weight: bold;
    color: #5A3E2B;
}

/* モーダルの表示 */
.qr-sheet {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    transition: background-color 0.3s;
}

.sheet-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70%;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -5px 15px rgba(0,0,0,0.1);
    
    transform: translateY(100%);
    transition: transform 0.4s ease-out;
}

.qr-sheet.active {
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.2);
}
.qr-sheet.active .sheet-content {
    transform: translateY(0);
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #888;
}

.my-qr-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #5A3E2B;
    font-weight: bold;
    p{
        font-size: 2rem;
    }
}

.my-qr-wrapper img {
    width: 200px;
    margin-bottom: 20px;
}